body {
    background-color: #5A5560;
    color: white;
    font-family: 'Noto Sans', 'Nunito','Nanum Gothic', sans-serif !important;
   
}
h1 {
    color: #FAED26; 
}
a {
    color: #9B786F;
} 

a:hover {
    color: #FAED26;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #9D8D8F;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #9D8D8F;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FAED26;
}
.btn-outline-success {
    color: #FAED26;
    border-color: #FAED26;
}
.btn-outline-success:hover {
    color: #46344E;
    background-color: #FAED26;
    border-color: #9D8D8F;
}
.navbar-dark .navbar-toggler {
    border-color: #9B786F;
    color: #9B786F;
  } 
  .navbar-dark .navbar-toggler:focus, 
  .navbar-dark .navbar-toggler:active,
  .navbar-dark .navbar-toggler:hover {
    border-color: #FAED26;
    color: #FAED26;
  } 
.navbar-custom {
    background-color: #46344E;
}
.jumbotron {
    color: #FAED26;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.2)), url(./Resources/patrick-perkins-ETRPjvb0KM0-unsplash.jpg);
    background-attachment: fixed;
 
}
.jumbotron p {
    color: white;
}

.btn-primary {
    color: #FAED26;
    background-color: #5A5560;
    border-color: #FAED26;

}

.btn-primary:hover {
    color: #5A5560;
    background-color: #FAED26;
    border-color: #46344E;

}

#profile_pic {
box-shadow: 5px 5px 13px #9D8D8F;
}
.test {
    color: #FAED26;
    color: #46344E;
    color: #5A5560;
    color: #9D8D8F;
    color: #9B786F;
    
}
.navbar-brand img {
    height: 2rem;
    border-radius: 10px;
}

footer{
    background-color: #46344E;
    padding-top: 2rem;
}

footer.timeline-Footer.u-cf {
    background-color: white;
}


.anim {
    position: relative;
    top: 0;
    margin-left: 500px;
    width: 300px;
    background-color: #ccc;
}

.animleft {
    opacity: 0;
    transform: translate(300px, 0); 
    transition: all 1s;
    }
.animright {
    opacity: 0;
    transform: translate(-300px, 0px); 
    transition: all 1s;
    }
    
.animleft.visible {
    opacity: 1;
    transform: translate(0, 0); 
    }
.animright.visible {
    opacity: 1;
    transform: translate(0, 0); 
    }

/* scroll to top */
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
    bottom:20px;
    opacity: 0.4;
	background:#9D8D8F;
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
    background:#9B786F;
    opacity: 1;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}